{{#each tracks}}
  <div class="album-container" style="background-image: url({{albumArtUrl}})">
    <h1>{{artistName}}</h1>
    <h1 class="track-name" data-id="{{trackId}}">{{trackName}}</h1>
    <h3>{{albumName}}</h3>
  </div>
{{/each}}
